			@import url('');
/*css reset*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
			} 
	label{
		cursor:pointer;
	}

	body{
		margin: 0 auto;
		padding:  50px 10px;
		background:cornflowerblue;
	}


	input[type="checkbox"]{
		display:  none;
	}

	input[type="checkbox"]+label{
		display: inline-block;
		margin:  0 0 0 10px;
		padding:  10px 0 10px 50px;
		position: relative;

	}

	input[type="checkbox"]+label:before{
		content: "";
		width:  40px;
		height: 15px;
		border: 1px solid orange;
		border-radius: 12px;
		position: absolute;
		top: 10px;
		left:  0;
		transition: background .5s linear;
		background: url("../images/round.png") no-repeat left;

	}

	input[type="checkbox"]:checked+label:before{
		background: yellowgreen url("../images/round.png") no-repeat right;

	}






